<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Serve index.html as default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Static file MIME types -->
    <staticContent>
      <remove fileExtension=".woff"  />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff"  mimeType="font/woff"  />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".svg"   mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot"   mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf"   mimeType="font/ttf" />
      <mimeMap fileExtension=".pdf"   mimeType="application/pdf" />
    </staticContent>

    <!-- Security & caching headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options"  value="nosniff" />
        <add name="X-Frame-Options"         value="SAMEORIGIN" />
        <add name="X-XSS-Protection"        value="1; mode=block" />
        <add name="Referrer-Policy"         value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>

    <!-- Cache static assets -->
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".css"    policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js"     policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png"    policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg"    policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".woff"   policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".woff2"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>


    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>
